* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}

nav {
  width: 100%;
  z-index: 999;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  text-align: center;
  background-color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  color: white;
  padding: 25px;
  text-decoration: none;
}

#main {
  width: 100%;
  height: 800px;
}

#image {
  width: 60%;
  display: block;
  margin: 0 auto;
}

#img-caption {
  text-align: center;
  font-size: 18px;
  text-transform: capitalize;
}

figcaption {
  margin: 15px 0px;
}

#title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

h1 {
  font-family: "Krona One", sans-serif;
  text-transform: uppercase;
}

#tributo-info {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 60px auto;
}

#tributo-info ul li {
  margin: 16px 0px;
  font-size: 20px;
}

#img-div figure h2 {
  text-align: center;
}

#tributo-info h2 {
  margin: 80px 0px;
  text-align: center;
  border: 1px solid black;
}

#tributo-info h3 {
  margin: 30px auto;
  text-align: center;
}

#tributo-info h3 a {
  text-decoration: none;
  color: blue;
}

#tributo-info ul li{
  text-align: justify;
}